/* default version */
@font-face {
  font-family: "tt-commons";
  src: url("/fonts/TT Commons Regular.otf");
}
/* Light version */
@font-face {
  font-weight: 100;
  font-family: "tt-commons";
  src: url("/fonts/TT Commons Light.otf");
}
/* Italic version */
@font-face {
  font-style: italic;
  font-family: "tt-commons";
  src: url("/fonts/TT Commons Italic.otf");
}
/* Medium version */
@font-face {
  font-weight: bold;
  font-family: "lovelyFont";
  src: url("/fonts/TT Commons Medium.otf");
}
/* Bold version */
@font-face {
  font-weight: bold;
  font-family: "lovelyFont";
  src: url("/fonts/TT Commons Bold.otf");
}
/* Black version */
@font-face {
  font-weight: 900;
  font-family: "lovelyFont";
  src: url("/fonts/TT Commons Black.otf");
}
